

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Usefullifereport_Index";
}
<div class="container-fluid py-4">
    <div class="row my-1">
        <div class="col-12">
            <div class="card">

                <div class="card-header pb-0">
                    <div class="row">
                        <div class="d-sm-flex justify-content-between" style="border-bottom:groove">
                            <div class="text-2xl"><b>Get Asset Expired List </b></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="modal-content">

                        @using (@Html.BeginForm(null, null, FormMethod.Get, new { id = "frmNewEmp", name = "frmNewEmp" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="modal-body">


                                <div class="form-group">
                                    <div>
                                        <label>Select Expiry  Category</label>
                                       

                                        <div class="form-check mb-1">
                                            <input class="form-check-input" type="radio" name="Usefullifetype" value="0" id="useover">
                                            <label class="custom-control-label" for="customRadio1">Expired Asset</label>
                                        </div>

                                        <div class="form-check mb-1">
                                            <input class="form-check-input" type="radio" name="Usefullifetype" value="3" id="3togo">
                                            <label class="custom-control-label" for="customRadio2"> 3 Months to  Assets to  expire</label>
                                        </div>

                                        <div class="form-check mb-1">
                                            <input class="form-check-input" type="radio" name="Usefullifetype" value="6" id="6togo">
                                            <label class="custom-control-label" for="customRadio2">  6  Months to  Assets to  expire</label>
                                        </div>
                                     
                                    </div>
                                </div>


                                <div><label style="font-size:12px;color:red "><span>*</span> Mandatory Fields</label></div>
                            </div>
                           
                            <div class="modal-footer">
                                <button type="submit" class="btn saveBtn btn-sm" id="btngetreport">Show Report</button>
                            </div>
                        }
                    </div><!-- /.modal-content -->
                </div>
               </div>
         </div>
    </div>
</div>

             
                  
                
            <div id="progressbar" class="modal fade" role="dialog" style="height: auto;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lx">

                    <!-- Modal content-->
                    <div class="modal-content" style="height:auto;width:auto;overflow:auto">
                        <div class="modal-header">
                            <label style="color:red;text-align: center;">Please wait........</label>

                        </div>
                        <div class="modal-body ">

                            <div class="row col-6" style="overflow:auto;align-content:center">
                                <label style="color:darkred;text-align: center;"> Report is in progress........</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script type="text/javascript">


            $(document).ready(function ($) {
                $('#progressbar').modal('hide');
                //voucherdate set to all other date



                $("#frmNewEmp").submit(function (e) {

                    var usefullifetype = $("input[name='Usefullifetype']:checked").val();
                    if (usefullifetype == "") {
                        swal("Alert", "Please select Usefullife type", "warning");
                    }
                    else {
                      //  alert(usefullifetype)
                        getreport(usefullifetype);
                    }
                    e.preventDefault();
                    return false;

                });

            });
            if (typeof jQuery !== 'undefined') {
                console.log('jQuery Loaded');
            }
            else {
                console.log('not loaded yet');
            }

            function getreport(usefullifetype) {


        @*var url = '@Url.Action("Alllocationreport", "Reports")';
            url = url + '?asondate=' + date;

            window.location.href = url;*@


             var data = {
                 "usefullifetype": usefullifetype
        };
            $('#progressbar').modal('show');
         var ControllerURL = '@Url.Action("Usefulllifereport", "Reports")';
        var DownloadURL = '@Url.Action("Download", "Reports")';

            var form = $('#frmNewEmp');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                type: 'POST',
                url: ControllerURL,
                contentType: "application/json",
                headers: headers,
                data: JSON.stringify(data),


                success: function (data) {
                    var fileurl = DownloadURL + '?fileGuid=' + data.FileGuid
                        + '&filename=' + data.FileName;
                    $('#progressbar').modal('hide');
                    //alert(fileurl);

                    window.location = fileurl;
                    $('#progressbar').modal('hide');

                },
                failure: function () { alert("Error"); }
            });;

    }

            </script>
