@model VerifyWebApp.Models.UOM
@{
    ViewBag.Title = "Add";
}
<div class="modal-content">
    <div class="modal-header" @*style="background-color:Highlight"*@>
       
        <h4 class="modal-title" @*style="color:white"*@>Create New Unit Of Measurement</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    @using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmNewEmp", name = "frmNewEmp" }))
    {@Html.AntiForgeryToken(); ;
        <div class="modal-body">

            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="UOM">Unit Of Measurement<span>*</span></label>
                @Html.TextBoxFor(m => m.Unit, new { @class = "form-control",@required="required" })
                <div style="color:#CC0000;font-weight:400" class="text-danger error">@Html.ValidationMessageFor(m => m.Unit)</div>
                @Html.AntiForgeryToken()
            </div>
            

            <div><label style="font-size:12px;color:red "><span>*</span> Mandatory Fields</label></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm clBtn" id="btnClose" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btnSave">Save</button>
        </div>
    }
</div><!-- /.modal-content -->


@*script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@


<script type="text/javascript">


    $('#btnSave').click(function (event) {
        
        SaveData();
        e.preventDefault();
        return false;
    });




    $(document).ready(function ($) {
       // alert(result);
        //$('#frmNewEmp').removeData('validator');
        //$('#frmNewEmp').removeData('unobtrusiveValidation');
        //$("#frmNewEmp").each(function () { $.data($(this)[0], 'validator', false); }); //enable to display the error messages
        //$.validator.unobtrusive.parse("#frmNewEmp");
        //$('#frmNewEmp').submit(function (e) {

        //    // e.preventDefault();

        //    var result;
        //    result = $('#frmNewEmp').valid();
        //    console.log(result);

        //    //alert(result);
        //    if (result == true) {
        //        SaveData();
        //    }
        //    e.preventDefault();
        //    return false;
   // });
        //Commented by me
       //$("#frmNewEmp").submit(function (e) {
       //     e.preventDefault();
       //    SaveData();

       //   return false;

       // });

    });


   function SaveData() {
     
        var result;
        var UOM;


           let ControllerURL = '@Url.Action("Add", "UOM")';
           let  returnURL = '@Url.Action("Index", "UOM")';

            UOM = $('#Unit').val();

            var postdata =
            {
                    "Unit": UOM,
            };
            //

            var form = $('#frmNewEmp');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            console.log(token);
            var headers = {};
            headers['__RequestVerificationToken'] = token;

       swal({
           title: "Are You Sure?", text: "You won't be able to revert this!", icon: "warning",
           buttons: true, dangerMode: true
       }).then((result) => {
        if (result == true) {
                 var ControllerURL = '@Url.Action("Add", "UOM")';


                var returnURL = '@Url.Action("Index", "UOM")';

                $.ajax({
                type: 'POST',
                url: ControllerURL,
                headers: headers,
                contentType: "application/json",
                data: JSON.stringify(postdata),
                    success: function (res) {
                  //......  debugger;
                if (res == "Success") {
               
                        swal({ title: "Successfully Added!", icon: "success" }).then((result) => {
                        if (result == true) {
                        window.location.replace(returnURL);
                        }
                        });
                }
                else
                {
               
                    swal("Alert", "You Cannot Add this Record", "warning");
              }

                },

                failure: function () { alert("Error"); }

                });
                }
       });

   }
</script>



