@model IEnumerable<VerifyWebApp.Models.UOM>

@{
    ViewBag.Title = "Index";
}

<!--<div id="page-wrapper" class="container-fluid rounded page border shadow" >-->
<div class="container-fluid">
    <div class="row my-0">
        <div class="card">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="d-sm-flex justify-content-between hborder">
                        <div class="htitle"> <b>UOM </b> </div>



                        <!--<div class="row border-bottom">
                           <div class="col-lg-12">
                               <div class="row title">
                                   <strong> <h4>Unit Of Measurement List</h4></strong>
                               </div>
                           </div>
                           <!-- /.col-lg-12 -->
                    </div>
                    @using (@Html.BeginForm(null, null, FormMethod.Get, new { id = "frmNewEmp", name = "frmNewEmp" }))
                    {@Html.AntiForgeryToken();
                }

                    <div class="pageconent">
                        <div class="d-flex align-items-center justify-content-center">
                            <div style="width:100%">
                                <div class="row" style="padding-top:4px;padding-left:5px">
                                    <div class="col-12 ">
                                        @*<button type="button" id="btnnew" value="New Practice"
                                                class="btn btn-sm btn-primary pull-right"
                                                onclick="opennewdialog();">

                                            <i class="fa fa-plus-square"></i>

                                            Add New UOM
                                        </button>*@
                                        <button type="button" id="btnnew" value="New Practice"
                                                class="btn addBtn btn-sm mb-0 btn-tooltip"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Add New UOM"
                                                onclick="opennewdialog();">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>


                                <div class="row" style="padding-top:5px">
                                    <div class="col-lg-12">
                                        <table @*class="table table-bordered table-striped table-hover"*@
                                               class="table table-flush table-hover "
                                               id="tbluom">
                                            <thead class="hcol text-uppercase" style="font-weight:bold">
                                                <tr>
                                                    <td>
                                                        Uom
                                                    </td>

                                                    <td align="center">
                                                        Edit
                                                    </td>
                                                    <td align="center">
                                                        Delete
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Count() == 0)
                                                {
                                                    <tr>
                                                        <td colspan="3">No Rows Found</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelitem => item.Unit)</td>



                                                            <td align="center">
                                                                <button type="button" class="btn btn modBtn btn-sm"
                                                                        aria-label="Left Align"
                                                                        onclick="EditUOM(@item.ID);">
                                                                    <i class="fa fa-edit"></i>
                                                                    
                                                                </button>

                                                            </td>
                                                            <td align="center">
                                                                <button type="button" class="btn btn-sm delBtn" aria-label="Left Align" onclick="Delete(@item.ID);">
                                                                    <i class="fa fa-remove"></i>
                                                                </button>

                                                            </td>
                                                        </tr>


                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="divNew">
                    <div class="modal-dialog modal-sm" role="document" id="divNewContent">

                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="modal fade" tabindex="-1" role="dialog" id="divEdit">
                    <div class="modal-dialog modal-sm" role="document" id="divEditContent">

                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


            </div>
        </div>
    </div>
</div>




<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        /*$('#tbluom').DataTable();*/
        $('#tbluom').DataTable({
            pagingType: 'numbers'
        });
    });


    if (typeof jQuery !== 'undefined') {
        console.log('jQuery Loaded');
    }
    else {
        console.log('not loaded yet');
    }

        function opennewdialog() {

            var url = '@Url.Action("Add","UOM")';
            $.get(url, function (data) {
                $("#divNewContent").html(data);
                // alert(data);
                $('#divNew').modal('show')
            });
        }

        function EditUOM(id) {
            var url = '@Url.Action("Edit","UOM")';
            url = url + "/" + id;

            $.get(url, function (data) {
                $("#divEditContent").html(data);
                $('#divEdit').modal('show')
            });
        }

     function Delete(id)
     {
         var form = $('#frmNewEmp');
         var token = $('input[name="__RequestVerificationToken"]', form).val();
         var headers = {};
         headers['__RequestVerificationToken'] = token;
         swal({ title: "Are You Sure?", text: "You won't be able to revert this!", icon: "warning", buttons: true, dangerMode: true }).then((result) => {
            if (result == true) {
                var returnURL='@Url.Action("Index", "UOM")';
                var url = '@Url.Action("Delete", "UOM")';
                url = url + "/" + id;
                    $.ajax({
                    type: 'POST',
                    url: url,
                    headers: headers,
                    contentType: "application/json",
                    success: function (res) {
                        if (res == "Failed")
                        {
                            swal("Alert", "You Cannot Delete this Record", "warning");
                        }
                        else
                        {
                            swal({ title:  "Successfully Deleted!", icon: "success" }).then((result) => {
                                if (result == true) {
                                    window.location.reload();
                                }
                            });
                         }
                    },

                    failure: function () { alert("Error"); }

                 });
            }
        });

     }


</script>

