@model VerifyWebApp.Models.Login
@{
    Layout = "~/Views/Shared/Layout_Login.cshtml";


}

@{
    ViewBag.Title = "Change Password";
}

<div class="container py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Change Password</h3>
        </div>
        <div class="col-md-6 mx-auto my-auto card">
            <div class="card-body">
                @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { id = "ChangePasswordForm", @class = "needs-validation", novalidate = "novalidate" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.HiddenFor(m => m.ID)
                  

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            @Html.Label("Old Password")
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Password,
                            new { @class = "form-control", placeholder = "Old Password", required = "required", type = "password" })
                            </div>
                            <div class="invalid-feedback text-danger">Please enter your Old password</div>
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.Password)</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            @Html.Label("New Password")
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.NewPassword,
                            new { @class = "form-control", placeholder = "New Password", required = "required", type = "password" })
                            </div>
                            <div class="invalid-feedback text-danger">Please enter your New password</div>
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.NewPassword)</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            @Html.Label("Confirm Password")
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ConfirmPassword,
                            new { @class = "form-control", placeholder = "Confirm Password", required = "required", type = "password" })
                            </div>
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                        </div>
                    </div>
                    <br>

                    <button type="submit" class="btn btn-lg btn-success btn-block">Change</button>

                }
            </div>
        </div>
    </div>
</div>





