
@{
    ViewBag.Title = "CalculateDepreciation";
}
@{
    Layout = null;
}
<style>
    label span {
        color: red;
        font-size: 20px;
    }
</style>


<div class="modal-content">
    <div class="modal-header hborder">

        <div class="htitle">Calculate IT Depreciation </div>
        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </div>
    @*@using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmNewEmp", name = "frmNewEmp" }))*@
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmupload" }))
    {
        <div class="modal-body">

            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="praticesname">From Date @ViewBag.fromdate<span>*</span></label>


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="praticesname">To Date @ViewBag.todate<span>*</span></label>


                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="praticesname"> Dep.Amount Round off to</label>&nbsp;&nbsp;&nbsp;
                        Actual Amount(in decimal) @Html.RadioButton("roundoff", "0", new { id = "actualamount", @tabindex = "12", })
                        Rs1 @Html.RadioButton("roundoff", "1", new { id = "rs1", @tabindex = "12", @checked = "true" })
                        Rs10 @Html.RadioButton("roundoff", "10", new { id = "rs10", @tabindex = "12", })
                        Rs100 @Html.RadioButton("roundoff", "100", new { id = "rs100", @tabindex = "12" })
                      Rs1000 @Html.RadioButton("roundoff", "1000", new { id = "rs1000", @tabindex = "12", })
                      

                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="praticesname"> Use 30th Sept as cut off date</label>&nbsp;&nbsp;&nbsp;
                        Yes @Html.RadioButton("cutoff", "yes", new { id = "ctyes", @tabindex = "13", @checked = "true" })
                        No @Html.RadioButton("cutoff", "no", new { id = "ctno", @tabindex = "13", })
                       


                    </div>
                </div>
            </div>




            <div><label style="font-size:12px;color:red "><span>*</span> Mandatory Fields</label></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn saveBtn btn-sm " onclick="getdepreciation()">Calculate</button>
            @*<button type="button" class="btn clBtn btn-sm" data-dismiss="modal">Close</button>*@
            <button type="button" class="btn btn-sm clBtn" id="btnClose" data-bs-dismiss="modal">Close</button>

            @*@ViewBag.Message*@

        </div>
    }
</div><!-- /.modal-content -->
<script>
    $(document).ready(function () {


    //check if fromdate ,todate
        checkdates();


    });
    function checkdates() {
          var startdate = '@ViewBag.fromdate';
        var enddate = '@ViewBag.todate';
        if (startdate == "" && enddate == "") {

            swal("Alert", "Please add Itperiod to calculate depreciation", "warning");
            return;

        }
    }
    function getdepreciation() {

      //  checkdates();
        var roundoff = $("input[name='roundoff']:checked").val();
        var cutoff = $("input[name='cutoff']:checked").val();
         var fromdate = '@ViewBag.fromdate';
         var todate = '@ViewBag.todate';
         if (fromdate == "" && todate == "") {

             swal("Alert", "Please add Itperiod to calculate depreciation", "warning");
             return;

         }
         var startdate = moment(fromdate, 'DD/MM/YYYY').format('YYYY-MM-DD');
         var enddate = moment(todate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        var userid ='@ViewBag.userid';
        var data = {
            'startdate': startdate,
            'enddate': enddate,
            'cutoff': cutoff,
            'roundoff': roundoff
            //'fromassetno': fromassetno,
            //'toassetno': toassetno,
            //'alocid': location

        };

        //  var ControllerURL = '@Url.Action("Getdepreciation", "ITDepreciation")';
        var DownloadURL = '@Url.Action("Index", "ITDepreciation")';

        DownloadURL = DownloadURL + "?fromdate=" + startdate + "&todate=" + enddate;

        var ControllerURL = '@Url.Action("startcalculation", "ITDepreciation")';

            $.ajax({
                type: 'POST',
                url: ControllerURL,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    console.log(data);

                    /*
                    var fileurl = DownloadURL + '?fileGuid=' + data.FileGuid
                        + '&filename=' + data.FileName;
                    */
                    window.location.href = DownloadURL;

                },
                failure: function () { alert("Error"); }
            });


    }

</script>

