@model VerifyWebApp.Models.Batch

@{
    ViewBag.Title = "Edit";
}
<style>
    label span {
        color: red;
        font-size: 20px;
    }
</style>

@*<div class="modal-content " style="height:530px;width:900px;overflow:auto" id="mymodal">*@
<style>
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>

@using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmNewEmp", name = "frmNewEmp" }))
{
    @Html.AntiForgeryToken();

    <div class="container-fluid rounded page border shadow">
        <div class="row border-bottom">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="d-sm-flex justify-content-between hborder">
                            <div class="htitle"> <b>Edit Batch</b> </div>
                            @*<div class="col-lg-12">
                            <div class="row justify-content-md-center title">
                                <strong> <h4>Edit Batch</h4></strong>
                            </div>
                        </div>*@
                        </div>
                    </div>

                    <div class="pageconent">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="praticesname">From Date</label>
                                    <!--<div class='input-group date' id='dtStartDate'>
                            <input type="date" id="txtStartDate" class="form-control" required />-->
                                    @*<div class="input-group-addon">
                                      <span class="input-group-text"><span class="fa fa-calendar"></span></span>
                                </div>*@
                                    @Html.TextBoxFor(m => m.FromDate, "{0:yyyy-MM-dd}", new
                               {
                                   @class = "form-control form-control-sm",
                                   @tabindex = "5",
                                   required = "required",
                                   type = "date",
                                   id = "txtStartDate"
                               })
                                </div>
                            </div>
                            @*<div style="color:#CC0000;font-weight:400" id="startdateerror">Select Date</div>*@
                            <div class="col-lg-3">
                                <div class="form-group">

                                    <label for="praticesname">To Date</label>

                                    <!--<div class='input-group date' id='dtEndDate'>
                            <input type='date' id="txtEndDate" class="form-control" required />-->
                                    @*<div class="input-group-addon">
                                <span class="input-group-text"><span class="fa fa-calendar"></span></span>
                                </div>*@



                                    @Html.TextBoxFor(m => m.ToDate, "{0:yyyy-MM-dd}", new
                         {
                             @class = "form-control form-control-sm",
                             @tabindex = "5",
                             required = "required",
                             type = "date",
                             id = "txtEndDate"
                         })
                                    @*<div style="color:#CC0000;font-weight:400" id="enddateerror">Select Date</div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <label for="praticesname">Batch Description</label>
                                    <!--<div class='input-group date'>
                            <input id="BatchDescription" class="form-control" type="text"/>-->
                                    @Html.TextBoxFor(m => m.BatchDescription, new
                               {
                                        @class = "form-control",
                                   required = "required",
                                   id = "BatchDescription"
                               })
                                   
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="praticesname" class="form-group">Isbatchopen </label>&nbsp;&nbsp;
                                    @Html.TextBoxFor(m => m.IsBatchOpen, new
                                   {
                                       @class = "form-control",
                                       required = "required",
                                       id = "IsBatchOpen"
                                    })

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                Location List for Batch
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" onclick="addLocation()" id="btnAddloc"
                                            data-toggle="modal">

                                        Add Location
                                    </button>
                                </div>
                            </div>
                        </div>



                        @*<div><label style="font-size:12px;color:red "><span>*</span> Mandatory Fields</label></div>*@
                        @*<div class="row">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" id="btnAddloc" data-toggle="modal">Add Location</button>
                    </div>*@


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table width="100%" class="table table-striped table-bordered table-hover" id="tbllocation">
                                        <thead>
                                            <tr>

                                                <td>
                                                    Srno
                                                </td>
                                                <td hidden>
                                                    locaid
                                                </td>
                                                <td hidden>
                                                    locbid
                                                </td>
                                                <td hidden>
                                                    loccid
                                                </td>

                                                <td>
                                                    Location
                                                </td>
                                                <td>
                                                    SubLocation
                                                </td>
                                                <td>
                                                    Sub SubLocation C
                                                </td>
                                                <td align="center">
                                                    Edit
                                                </td>
                                                <td align="center">
                                                    Delete
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.SubbatchTable.Count() == 0)
                                            {

                                            }
                                            else
                                            {
                                                foreach (var item in Model.SubbatchTable)
                                                {
                                                    <tr>
                                                        <td>@item.Srno</td>

                                                        <td hidden>@Html.DisplayFor(modelitem => item.LocAId)</td>
                                                        <td hidden>@Html.DisplayFor(modelitem => item.LocBId)</td>
                                                        <td hidden>@Html.DisplayFor(modelitem => item.LocCId)</td>
                                                        <td>@Html.DisplayFor(modelitem => item.LocAName)</td>
                                                        <td>@Html.DisplayFor(modelitem => item.LocBName)</td>
                                                        <td>@Html.DisplayFor(modelitem => item.LocCName)</td>
                                                        <td align="center">
                                                            <button type="button" class="btn btn-primary btn-sm"
                                                                    aria-label="Left Align"
                                                                    onclick="Editloc(this,@item.Srno);">
                                                                <i class="fa fa-edit"></i>Edit
                                                            </button>

                                                        </td>
                                                        <td align="center">
                                                            <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" onclick="deleteloc(this);">
                                                                <i class="fa fa-remove"></i>Delete
                                                            </button>
                                                            @*<button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" onclick="Delete(@item.ID);">
                                                            <i class="fa fa-remove"></i>Delete
                                                        </button>*@

                                                        </td>
                                                    </tr>


                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>


                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                            <button type="button" class="btn btn-default" onclick="closeloc()">Close</button>
                            <button type="button" class="btn btn-primary" id="btnSave" onclick="SaveData();">Save</button>
                        </div>

                        <!-- /.modal-content -->
                        @*</div>*@
                        <div id="locationmodal" class="modal fade" role="dialog" style="height: 600px;" data-backdrop="static" data-keyboard="false">

                            <div class="modal-dialog modal-lg">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title">Add Location</h4>
                                    </div>
                                    <div class="modal-body ">

                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location A<span style="color:#CC0000;">*</span></label>
                                                @Html.DropDownList("txtlocA", (SelectList)ViewBag.alocationlist, "Select Location", new { @class = "form-control", id = "txtlocA", @required = true })
                                                <div style="color:#CC0000;font-weight:400" id="locaerror"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location B</label>

                                                <select id="txtlocB" name="txtlocB" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location C</label>
                                                <select id="txtlocC" name="txtlocC" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div><label style="font-size:12px;color:red ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>*</span> Mandatory Fields</label></div>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm clBtn" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="btnSave" onclick="saveloc();">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="editlocationmodal" class="modal fade" role="dialog" style="height: 600px;" data-backdrop="static" data-keyboard="false">

                            <div class="modal-dialog modal-lg">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title">Edit Location</h4>
                                    </div>
                                    <div class="modal-body ">


                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location A<span style="color:#CC0000;">*</span></label>
                                                @Html.DropDownList("txteditlocA", (SelectList)ViewBag.alocationlist, "Select Location", new { @class = "form-control", id = "txteditlocA", @required = true })
                                                <div style="color:#CC0000;font-weight:400" id="editlocaerror"></div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location B</label>

                                                <select id="txteditlocB" name="txteditlocB" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location C</label>
                                                <select id="txteditlocC" name="txteditlocC" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div><label style="font-size:12px;color:red ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>*</span> Mandatory Fields</label></div>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm clBtn" data-bs-dismiss="modal" onclick="closeeditloc();">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="saveeditloc();">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="editlocationmodal" class="modal fade" role="dialog" style="height: 600px;" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Location</h4>
                                    </div>
                                    <div class="modal-body ">
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location A<span style="color:#CC0000;">*</span></label>
                                                @Html.DropDownList("txteditlocA", (SelectList)ViewBag.alocationlist, "Select Location", new { @class = "form-control", id = "txteditlocA" })
                                                <div style="color:#CC0000;font-weight:400" id="editlocaerror"></div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location B</label>

                                                <select id="txteditlocB" name="txteditlocB" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label for="praticesname">Location C</label>
                                                <select id="txteditlocC" name="txteditlocC" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div><label style="font-size:12px;color:red ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>*</span> Mandatory Fields</label></div>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeeditloc();">Close4</button>
                                        <button type="button" class="btn btn-primary" id="btnSave" onclick="saveeditloc();">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>




        </div>
    </div>
  
}


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script type="text/javascript">
    var srnocnt = '@ViewBag.Srno';
    var srnocccnt = 1;
    var srnoassetfcnt = 1;
    var editindex = 0;
    var isbatchopenflag = "no";


    //$('#dtStartDate').datetimepicker({
    //    format: 'DD/MM/YYYY',
    //    icons:
    //    {
    //        next: 'fa fa-angle-right',
    //        previous: 'fa fa-angle-left'
    //    },

    //});
    //$('#dtEndDate').datetimepicker({
    //    format: 'DD/MM/YYYY',
    //    icons:
    //    {
    //        next: 'fa fa-angle-right',
    //        previous: 'fa fa-angle-left'
    //    },
    //});

    var EndDateStatus = false;
    var StartDateStatus = false;

    $(document).ready(function ($) {
        /////initialisation of values batch
        @*$("#txtStartDate").val('@ViewBag.FromDate');
        $("#txtEndDate").val('@ViewBag.ToDate');*@
        $("#BatchDescription").val('@ViewBag.BatchDescription');
        $("#IsBatchOpen").val('@ViewBag.IsBatchOpen');

        debugger;

        if ('@ViewBag.IsBatchOpen' == "Yes" || '@ViewBag.IsBatchOpen' == "yes") {
            $("#IsBatchOpen").prop("checked", true);
        }
        else {
            $("#IsBatchOpen").prop("checked", false);
        }

        $('#IsBatchOpen').change(function () {
            if ($(this).prop("checked")) {
                isbatchopenflag = "yes";

            }
            else {

                isbatchopenflag = "no";
            }
        });


        $("#frmNewEmp").submit(function (e) {
            SaveData();
            e.preventDefault();
            return false;
        });



//--------------------loc---------------------------------------------------------------

    ///onlocation a select load location b dropdown
   $('#txtlocA').change(function () {

                        var index = $("#txtlocA option:selected").val();


                      //  $('#txtassetno').val(index);
                         getlocationb(index);
                    });

                    $('#txtlocB').change(function () {

                        var index = $("#txtlocB option:selected").val();


                       // $('#txtassetno').val(index);
                        getlocationc(index);
                    });

                    ///on edit modal location a select load location b dropdown
                    $('#txteditlocA').change(function () {


                        var index = $("#txteditlocA option:selected").val();


                        //  $('#txtassetno').val(index);
                        geteditlocationb(index);
                    });

                    $('#txteditlocB').change(function () {

                        var index = $("#txteditlocB option:selected").val();


                        // $('#txtassetno').val(index);
                        geteditlocationc(index);
                    });

      });
//-------------------

    var EndDateStatus = false;
    var StartDateStatus = false;


     $("#startdateerror,#enddateerror").hide();


//----------------------------------------------------------------------
       function closeloc() {
            var url = '@Url.Action("index", "Batch")';
            window.location = url;

    $('#locationmodal').modal('hide');
}

     function addLocation() {
    $('#locationmodal').modal('show');
}

     function deleteloc(obj) {
         swal({ title: "Are You Sure?", text: "You won't be able to revert this!", icon: "warning", buttons: true, dangerMode: true }).then((result) => {
             if (result == true) {
                 $(obj).parent().parent().remove();
                 srnocnt - 1;
             }
         });
     }



     function saveloc() {

         //if ($("#txtlocDate").val() == '') {
         //    alert("test")
         //    $("#locdateemerror").html(" * Please select date");
         //    $("#locdateemerror").show();

         //}

         if ($("#txtlocA").find("option:selected").text() == 'Select Location') {
             $("#locaerror").html(" * Please select location");
             $("#locaerror").show();

         }

         if ($("#txtlocA").find("option:selected").text() != 'Select Location'
             && $("#txtlocDate").val() != '') {

             Addlocationtotable();



             $('#locationmodal').modal('hide');


         }
     }

    function Addlocationtotable() {

        var alocname = $("#txtlocA").find("option:selected").text();
        var blocname = $("#txtlocB").find("option:selected").text();
        var clocname = $("#txtlocC").find("option:selected").text();

        var alocids = $("#txtlocA").val();
        var alocid = $("#txtlocA option:selected").val();
        var blocid = $("#txtlocB option:selected").val();
        var clocid = $("#txtlocC option:selected").val();
        //var date = $("#txtlocDate").val();
        if (alocname == "Select Location") {
            alocname = "";
        }
        if (blocname == "Select Location") {
            blocname = ""
        }
        if (clocname == "Select Location") {
            clocname = ""
        }

        //  var assetamt = $("#txtassetamount").val()
        $('#tbllocation').last().append('<tr><td>' + srnocnt + '</td><td hidden>' + alocid + '</td>'
            + '<td hidden>' + blocid + '</td ><td hidden>' + clocid + '</td>'
            + '<td>' + alocname + '</td ><td>' + blocname + '</td><td>' + clocname + '</td><td align="center"> <button type="button" class="btn btn-primary btn-sm"'
            + ' aria-label="Left Align"'
            + 'onclick="Editloc(this,' + srnocnt + ');">'
            + '  <i class="fa fa-edit"></i>Edit</button></td><td align="center"> <button type="button" class="btn btn-danger btn-sm"'
            + ' aria-label="Center Align"'
            + 'onclick="deleteloc(this);">'
            + '  <i class="fa fa-remove"></i>Delete   </button></td></tr > ');

        srnocnt++;
    }

function getlocationb(id) {
            if (id == "") {
                id = 0;

                    var index = $("#txtlocB option:selected").val(0);
            }
            else {
                var ControllerURL = '@Url.Action("getlocationb", "Batch")';
                    var url = ControllerURL + "/" + id;
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("txtlocB").html(procemessage).show();


                    $.ajax({
                        url: url,

                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'>Select Location</option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#txtlocB").html(markup).show();
                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });
                    }
                    }

   function getlocationc(id) {
            if (id == "") {
                id = 0;

                    var index = $("#txtlocC option:selected").val(0);
            }
            else {
                var ControllerURL = '@Url.Action("getlocationc", "Batch")';
                      var url = ControllerURL + "/" + id;
                         $.ajax({
                        url: url,

                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'>Select Location</option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#txtlocC").html(markup).show();
                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });
                   }

                    }
/////////////////////////////////////////////////////////-------Add Location-Logic-End------////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////-------Edit Location-Logic-------////////////////////////////////////////////////////////////////////////////////////////
    function closeeditloc()
    {
         $('#editlocationmodal').modal('hide');
    }


    function Editloc(id, editcnt)
    {
                        //$(id).parent();
                        editindex = editcnt;
                        var tr = $(id).parent().parent();
                        var locaid = $(tr).find("td").eq(1).html();
                        var locbid = $(tr).find("td").eq(2).html();
                        var loccid = $(tr).find("td").eq(3).html();


                        $("#txteditlocA").val(locaid);

                        // $("#txtedassetno").prop('selectedIndex', assetno)
                        $('#txteditlocB').val(locbid);
                        $('#txteditlocC').val(loccid);


                        geteditlocationb2(locaid, locbid, loccid)
                        $('#editlocationmodal').modal('show');
                    }

                    function saveeditloc() {


                        if ($("#txteditlocA").find("option:selected").text() == 'Select Location') {
                            $("#editlocaerror").html(" * Please select location");
                            $("#editlocaerror").show();

                        }

                        if ($("#txteditlocA").find("option:selected").text() != 'Select Location'
                              != '') {

                            editlocationtotable();
                            $('#editlocationmodal').modal('hide');

                        }
        }

                    function editlocationtotable() {
                        var alocname = $("#txteditlocA").find("option:selected").text();
                        var blocname = $("#txteditlocB").find("option:selected").text();
                        var clocname = $("#txteditlocC").find("option:selected").text();
                        //alert(blocname)
                        //alert(clocname)

                        var alocid = $("#txteditlocA option:selected").val();
                        var blocid = $("#txteditlocB option:selected").val();
                        var clocid = $("#txteditlocC option:selected").val();

                        if (alocname == "Select Location") {
                            alocname = "";
                        }
                        if (blocname == "Select Location") {
                            blocname = "";
                        }
                        if (clocname == "Select Location") {
                            clocname = "";
                        }
                        var tbl = $('#tbllocation tbody tr:has(td)').each(function () {
                            var srno = $(this).find("td").eq(0).html();
                            if (srno == editindex) {
                                //alert('check');
                                $(this).find("td").eq(1).html(alocid);
                                $(this).find("td").eq(2).html(blocid);
                                $(this).find("td").eq(3).html(clocid);

                                $(this).find("td").eq(4).html(alocname);
                                $(this).find("td").eq(5).html(blocname);
                                $(this).find("td").eq(6).html(clocname);
                            }
                        })

                    }
            function geteditlocationb(id) {
            if (id == "") {
                id = 0;

                    var index = $("#txteditlocB option:selected").val(0);
            }
            else {
                var ControllerURL = '@Url.Action("getlocationb", "Batch")';
                    var url = ControllerURL + "/" + id;
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("txteditlocB").html(procemessage).show();


                    $.ajax({
                        url: url,

                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'>Select location</option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#txteditlocB").html(markup).show();
                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });
                    }
                    }
            function geteditlocationc(id) {
            if (id == "") {
                id = 0;

                    var index = $("#txteditlocC option:selected").val(0);
            }
            else {
                var ControllerURL = '@Url.Action("getlocationc", "Batch")';
                      var url = ControllerURL + "/" + id;
                         $.ajax({
                        url: url,

                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'>Select Location</option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#txteditlocC").html(markup).show();
                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });
                   }

        }
                     function geteditlocationb2(locaid,locbid,loccid) {
                if (locaid == "") {
                    locaid = 0;

                    var index = $("#txteditlocB option:selected").val(0);
            }
            else {
                var ControllerURL = '@Url.Action("getlocationb", "Batch")';
                    var url = ControllerURL + "/" + locaid;
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("txteditlocB").html(procemessage).show();


                    $.ajax({
                        url: url,

                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'>Select location</option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#txteditlocB").html(markup).show();
                            $("#txteditlocB ").val(locbid);
                            geteditlocationc2(locbid, loccid)
                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });
                    }
                    }
            function geteditlocationc2(locbid,loccid) {
                if (locbid == "") {
                    locbid = 0;

                    var index = $("#txteditlocC option:selected").val(0);
            }
            else {
                var ControllerURL = '@Url.Action("getlocationc", "Batch")';
                    var url = ControllerURL + "/" + locbid;
                         $.ajax({
                        url: url,

                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'>Select Location</option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#txteditlocC").html(markup).show();
                            $("#txteditlocC").val(loccid);
                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });
                   }

        }
//----------------------------edit loc end/////////////////////////////////////
    function deletesubbatch(obj)
    {
        $(obj).parent().parent().remove();
    }

 function SaveData()
 {
     var startdate = moment($("#txtStartDate").val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
     var enddate = moment($("#txtEndDate").val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
     //var startdate = $('#txtStartDate').val();
     //var enddate = $('#txtEndDate').val();
     //var startdate = moment($("#txtStartDate").val()).format('YYYY-MM-DD');
     //var enddate = moment($("#txtEndDate").val()).format('YYYY-MM-DD');

     if (new Date(startdate) >= new Date(enddate)) {
         swal("Alert", "To Date must be greater than From Date", "warning");
     }
     else {
         
         //var tbllocation = $('#tbllocation tbody tr:has(td)').map(function (i, v) {
         //    var $td = $('td', this);
         //    var Tablelocationa = $td.eq(1).html();
         //    alert(Tablelocationa)

         //    var Tablelocationb = $td.eq(2).html();
         //    alert(Tablelocationb)
         //    var Tablelocationc = $td.eq(3).html();

         //    return {

         //        LocAid: Tablelocationa,
         //        LocBid: Tablelocationb,
         //        LocCid: Tablelocationc
         //    }
         //}).get();
         //alert(tbllocation)


         var StartDate = $('#txtStartDate').val();
         var EndDate = $('#txtEndDate').val();
         var BatchDescription = $('#BatchDescription').val();
         var IsBatchOpen = isbatchopenflag;


         if (StartDate == '') {
             StartDateStatus = false;
         }
         else {
             //$('#assignError').hide();
             StartDateStatus = true;
         }
         if (EndDate == '') {
             EndDateStatus = false;
         }
         else {
             //$('#assignError').hide();
             EndDateStatus = true;
         }

         if (StartDateStatus == true && EndDateStatus == true)
         {
             $("#startdateerror,#enddateerror").hide();

             var tbllocation = $('#tbllocation tbody tr:has(td)').map(function (i, v) {
                 var $td = $('td', this);
                 var Tablelocationa = $td.eq(1).html();
                 //alert(Tablelocationa)

                 var Tablelocationb = $td.eq(2).html();
                 //alert(Tablelocationb)
                 var Tablelocationc = $td.eq(3).html();

                 return {

                     LocAid: Tablelocationa,
                     LocBid: Tablelocationb,
                     LocCid: Tablelocationc
                 }
             }).get();

             //var Strstartdate = moment(StartDate, "DD/MM/YYYY").format("YYYY-MM-DD");
             //var StrEnddate = moment(EndDate, "DD/MM/YYYY").format("YYYY-MM-DD");
             var Strstartdate = moment($('#txtStartDate').val()).format("YYYY-MM-DD");
             var StrEnddate = moment($('#txtEndDate').val()).format("YYYY-MM-DD");
             


             var StartDate = $('#txtStartDate').val();
             var EndDate = $('#txtEndDate').val();
         var Editid = '@ViewBag.ID';
         var postdata =
             {
                 "FromDate": Strstartdate,
                 "ToDate": StrEnddate,
                 "BatchDescription": BatchDescription,
                 "IsBatchOpen": IsBatchOpen,
                 "locationlist": tbllocation,
                 "ID": Editid

                 //"LoanViewModellist": tbl
             };

         var form = $('#frmNewEmp');
         var token = $('input[name="__RequestVerificationToken"]', form).val();
         var headers = {};
         headers['__RequestVerificationToken'] = token;
         swal({
             title: "Are You Sure?", text: "You won't be able to revert this!",
             icon: "warning", buttons: true, dangerMode: true
         }).then((result) => {
             if (result == true) {

                 var ControllerURL = '@Url.Action("Edit", "Batch")';

                 //alert(ControllerURL);
                 var returnURL = '@Url.Action("Index", "Batch")';
                 $.ajax({
                     type: 'POST',
                     url: ControllerURL,
                     contentType: "application/json",
                     headers: headers,
                     data: JSON.stringify(postdata),
                     success: function (res) {
                         if (res == "Failed") {
                             swal("Alert", "You Cannot Add this Record", "warning");
                         }
                         else {
                             swal({ title: "Successfully Edited!", icon: "success" }).then((result) => {
                                 if (result == true) {
                                     window.location.replace(returnURL);
                                 }
                             });
                         }

                     },

                     failure: function () { alert("Error"); }

                 });
             }
             });
             ////////////------------------
             @*var ControllerURL = '@Url.Action("Edit", "Batch")';

                   //  alert(ControllerURL);
                    var returnURL = '@Url.Action("Index", "Batch")';
                    $.ajax({
                        type: 'POST',
                        url: ControllerURL,
                        contentType: "application/json",
                        data: JSON.stringify(postdata),
                        success: function (res) {
                            if (res == "Failed") {
                               // swal("Alert", "You Cannot Add this Record", "warning");
                            }
                            else {
                               // swal({ title: "Successfully Added!", icon: "success" }).then((result) => {
                                    if (result == true) {
                                        window.location.replace(returnURL);
                                    }
                               // });
                            }

                        },

                        failure: function () { alert("Error"); }

                    });*@

         }//----------------------if ----
         else
         {
             if (StartDateStatus == true && EndDateStatus == false) {
                 $('#enddateerror').show();
                 $('#startdateerror').hide();

             } else if (EndDateStatus == true && StartDateStatus == false) {
                 $('#enddateerror').hide();

                 $('#startdateerror').show();
             } else {
                 $('#enddateerror').show();

                 $('#startdateerror').show();

             }

             return false;
         }///--------------------else---------------------------------

        }
 }



</script>

