@{
    ViewBag.Title = "FASSummaryDeatiled_Index";
}

<div class="container-fluid py-4">
    <div class="row my-1">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="d-sm-flex justify-content-between" style="border-bottom:groove">
                            <div class="text-2xl"><b>Fixed Asset Schedule Summary Detailed Report</b></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("FASSummaryDetailedReport", "FASSummary", FormMethod.Post, new { id = "frmNewEmp" }))
                    {
                        @Html.AntiForgeryToken();
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="praticesname">From Date<span style="color:#CC0000;">*</span></label>
                                    @Html.DropDownList("Fromdate", (SelectList)ViewBag.Fromdate, "Select Fromdate", new { @class = "form-control", id = "Fromdate", required = "required" })
                                    <div style="color:#CC0000;font-weight:400" id="fromdateerror"></div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="praticesname">To Date <span style="color:#CC0000;">*</span></label>
                                    @Html.DropDownList("Todate", (SelectList)ViewBag.Todate, "Select Todate", new { @class = "form-control", id = "Todate", required = "required" })
                                    <div style="color:#CC0000;font-weight:400" id="todateerror"></div>
                                </div>
                            </div>
                            <div><label style="font-size:12px;color:red;"><span>*</span> Mandatory Fields</label></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm saveBtn" id="btngetreport">Show Report</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="progressbar" class="modal fade" role="dialog" style="height: auto;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lx">
        <!-- Modal content-->
        <div class="modal-content" style="height:auto;width:auto;overflow:auto">
            <div class="modal-header">
                <label style="color:red;text-align: center;">Please wait........</label>
            </div>
            <div class="modal-body ">
                <div class="row col-6" style="overflow:auto;align-content:center">
                    <label style="color:darkred;text-align: center;">Report is in progress........</label>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#btngetreport').click(function(e) {
            e.preventDefault();
            var fromdate = $('#Fromdate').val();
            var todate = $('#Todate').val();
            getreport(fromdate, todate);
            /*alert("hii");*/
        });
    });

    function getreport(fromdate, todate) {
        fromdate = moment(fromdate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        todate = moment(todate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        var data = {
            fromdate: fromdate,
            todate: todate
        };
        var form = $('#frmNewEmp');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var headers = {};
        headers['__RequestVerificationToken'] = token;
        var ControllerURL = '@Url.Action("FASSummaryDetailedReport", "FASSummary")';
        var DownloadURL = '@Url.Action("Download", "FASSummary")';

        $.ajax({
            type: 'POST',
            url: ControllerURL,
            contentType: 'application/json',
            headers: headers,
            data: JSON.stringify(data),
            beforeSend: function() {
                $('#progressbar').modal('show');
            },
            success: function(data) {
                var fileurl = DownloadURL + '?fileGuid=' + data.FileGuid + '&filename=' + data.FileName;
                window.location.href = fileurl;
            },
            error: function() {
                alert('Error occurred during report generation.');
            },
            complete: function() {
                $('#progressbar').modal('hide');
            }
        });
    }
</script>